In [14]:
from models.user import User

In [15]:
name = 'Matt Murdock'
date_of_birth = '16 June 1987'
postcode = 'NY107JD'

In [16]:
person_one = User(name, date_of_birth, postcode)

In [17]:
print(type(person_one))

<class 'models.user.User'>

In [18]:
person_one.name

'Matt Murdock'

In [19]:
person_one.postcode

'NY107JD'

In [20]:
person_one.change_postcode('HK104HW')

In [21]:
person_one.postcode

'HK104HW'

In [22]:
import re # import's python's regular expressions module 
# used to manipulate and match patterns in strings
from datetime import datetime # used to format

In [23]:
def standardize_date(input_date: str) -> str:
    if '/' in input_date:
        return input_date

In [24]:
from datetime import datetime

def get_overdue_dates(date_list: list[str]) -> list[str]:
    date_today = datetime.today().date()
    overdue_dates = []

    for input_date in date_list:
        converted_date = datetime.strptime(input_date, "%d/%m/%Y").date()
        if converted_date < date_today:
            overdue_dates.append(input_date)

    return overdue_dates

In [25]:
get_overdue_dates(["01/01/2024", "03/05/2025", "15/04/2025", "07/05/2025"])

['01/01/2024', '03/05/2025', '15/04/2025', '07/05/2025']

In [26]:
class Book:
    def __init__(self, title: str, author: str, page_count: int, isbn: int, in_stock: bool = 'True'):
        self.title = title
        self.author = author
        self.page_count = page_count
        self.isbn = isbn
        self.in_stock = in_stock

In [27]:
book = Book(title="1984", author="George Orwell", page_count=328, isbn="1234567890")
print(book)

<__main__.Book object at 0x10555aae0>

In [28]:
from datetime import datetime

In [29]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [30]:
from datetime import datetime
my_date_string = "Mar 11 2011"

datetime_object = datetime.strptime(my_date_string, '%b %d %Y')

print(type(datetime_object))
print(datetime_object)

<class 'datetime.datetime'>
2011-03-11 00:00:00

In [31]:
import re
from datetime import datetime

In [32]:
def standardize_date(input_date: str) -> str:
    if '/' in input_date:
        return input_date
    suffixes = ['ST', 'TH', 'RD', 'ND', 'st', 'th', 'rd', 'nd']
    day, _, rest = input_date.partition(' ')
    for sfx in suffixes:
        if day.lower().endswith(sfx):
            day = day.removesuffix(sfx)
            break
    date_obj = datetime.strptime(f"{day} {rest}", "%d %B %Y")
    return date_obj.strftime("%d/%m/%Y")

In [33]:
print(standardize_date("2nd May 2025"))

02/05/2025

In [34]:
from datetime import datetime

def standardize_date(input_date: str) -> str:
    if '/' in input_date:
        return input_date

    suffixes = ['st', 'nd', 'rd', 'th']
    day, _, rest = input_date.partition(' ') # splits string between day and month/year
    for sfx in suffixes:
        if day.lower().endswith(sfx):
            day = day.removesuffix(sfx)
            break

    date_object = datetime.strptime(f"{day} {rest}", "%d %B %Y") # strp(time) converts the cleaned string into a datetime object
    return date_object.strftime("%d/%m/%Y") # strftime() turns the datetime object into a formatted string

In [35]:
standardize_date("30th May 2025")

'30/05/2025'

In [36]:
from models.books import Book

In [37]:
def convert_to_books(book_dicts: list[dict]) -> list[Book]:
    books_in_list = []
    for book_dict in book_dicts:
        book = Book(
            title=book_dict["Title"],
            author=book_dict["Author"],
            page_count=book_dict["Page Count"],
            year_published=book_dict["Year"],
            isbn=book_dict["ISBN"],
            in_stock=book_dict["In Stock"] if "In Stock" in book_dict else True
        )
        books_in_list.append(book)
        return books_in_list

In [38]:
book_dicts = [
    {"Title": "1984", "Author": "George Orwell", "Page Count": 1000, "ISBN" : "111", "Year" : 1936, "Genre" : "Horror"},
    {"Title": "Wealth Money Can't Buy", "Author": "Robin Sharma", "Page Count": 100, "ISBN" : "123", "Year" : 2015, "Genre" : "Lifestyle"}
]

books = convert_to_books(book_dicts)
print(books[0].page_count)  # Output: 1984

1000

In [49]:
# __str__ Method:
# Method returns human-readable, string representation of object.
# called by the print(), str() and format() functions.
# person.py

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"I'm {self.name}, and I'm {self.age} years old."

    def __repr__(self):
        return f"{type(self).__name__}(name='{self.name}', age={self.age})"

In [55]:
class Book:
    def __init__(self, title: str, author: str, page_count: int, year_published: int, isbn: int, in_stock: bool = True):
        self.title = title
        self.author = author
        self.page_count = page_count
        self.year_published = year_published
        self.isbn = isbn
        self.in_stock = in_stock

    def __str__(self):
        return f"Book: {self.title} by {self.author} in {self.year_published}"

book = Book("1984", "George Orwell", 328, 1949, 1234567890)
print(book)

Book: 1984 by George Orwell in 1949

In [54]:
class User:
    def __init__(self, name: str, date_of_birth: str, postcode: str):
        self.name = name
        self.date_of_birth = date_of_birth
        self.postcode = postcode


    def __str__(self):
        return f"User: {self.name}, DOB: {self.date_of_birth}"

    user = User("Alice", "1990-05-01", "AB1 2CD")
    print(user)

User: Alice, DOB: 1990-05-01

In [56]:
def get_overdue_dates(date_list: list[str]) -> list[str]:
    date_today = datetime.today().date()
    overdue_dates = []

    for input_date in date_list:
        converted_date = datetime.strptime(input_date, "%d/%m/%Y").date()
        if converted_date < date_today:
            overdue_dates.append(input_date)

    return overdue_dates

In [129]:
from datetime import datetime

def get_overdue_dates(date_list: list) -> list:
    today_string = time.strftime("%d/%m/%Y")
    date_today = datetime.strptime(today_string, "%d/%m/%Y")
    overdue_dates = []
    
    for input_date in date_list:
        converted_date = datetime.strptime(input_date, "%d/%m/%Y")
        if converted_date < date_today:
            overdue_dates.append(input_date)
        
    return overdue_dates

print(get_overdue_dates(["01/01/2024", "03/05/2025", "15/04/2025", "18/08/2025", "21/11/2025", "12/03/2025"]))

['01/01/2024', '03/05/2025', '15/04/2025', '12/03/2025']

In [103]:
del print
from datetime import datetime
today_date = time.strftime("%d-%m-%Y")
print(today_date)

18-06-2025

In [ ]:
# Notes
from datetime import datetime
current_date = datetime.now()
print(date.today())
print(current_date.day)
print(current_date.year)

2025-06-18
18
2025

In [110]:
print(current_date.strftime("%d"))

18

In [130]:
string_1 = '2022-12-31'
date_1 = datetime.strptime(string_1, "%Y-%m-%d")
print(date_1)
print(date_1.day)

2022-12-31 00:00:00
31